/* Variables */
:root {
  /* From official Inria palette. */
  --primary_color: #1488ca;
  --secondary_color: #ffcd1c;
  --hydronaut_radius: 10pt;
}
/* Custom Classes */
.centered {
  text-align: center;
}
.centered > * {
  display: block;
  font-size: x-large;
  margin: 1em auto !important;
}
.flex_slide {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;
}
.flex_main {
  flex: 1 1 80%;
}
.flex_aside {
  flex: 1 1 20%;
}
.flex_aside > *:not(:first-child) {
  margin-top: 2em;
}
.rounded_img {
  border-radius: var(--hydronaut_radius) !important;
}
/* Generic */
h1 {
  background-color: var(--primary_color);
  border-radius: 1ch;
  color: var(--secondary_color) !important;
  font-weight: bold !important;
  padding: 1ch;
}
h2 {
  color: var(--primary_color) !important;
}
h2,
h3,
h4{
  margin: 1ch 0 0.5ch 0 !important;
}
figure {
  margin: 0;
  padding: 0;
  text-align: center !important;
}
figure img {
  display: block;
  margin: 0 auto !important;
  padding: 0 !important;
  width: 100% !important;
}
figcaption {
  background-color: white;
  caption-side: bottom;
  display: block;
  font-size: 70%;
  margin: 0;
  padding: 0;
  width: 100%;
}
/* */
.slide {
  position: relative;
  width: auto;
}
.jp-MarkdownOutput pre {
  background-color: #f0f0f0 !important;
  border-radius: var(--hydronaut_radius) !important;
  border: none !important;
  box-shadow: none !important;
  box-shadow: none !important;
  margin: 0 0 1em 0 !important;
  max-width: calc(100% - (2 * var(--hydronaut_radius))) !important;
  padding: var(--hydronaut_radius) !important;
}
.jp-MarkdownOutput code {
  background-color: #f0f0f0 !important;
}
